body{
    background-color: #d9cfcf;
}
.lesDates{
    background-color: #b5b5b5;
    border: solid 1px #FFF;
    color: brown
}

.cle{
    font-weight: bold;
    color: blue;
    border: solid 1px #ffffff;
    background-color: #d8d8d8;
}

.lesCibles{
    background-color: #b5b5b5;
    border: solid 1px #FFF;
}
.anCibles{
    background-color: #d8d8d8;
}
td, th{
    text-align: center;
}

th{
    background-color: rgb(0, 32, 102);
    color: white;
}

.prc{
    background-color: #d8d8d8;
}
