body{
    background-color: #d9cfcf;
}
h1{
    color: #000079;
    text-shadow: 5px 5px 10px black;
    text-align: center;

}

h2{
    color: #000079;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}

#theme{
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-weight: 900;
    font-size: 30px;
    color: #000079;
    text-transform: capitalize;
}

.lesDates{
    background-color: #b5b5b5;
    border: solid 1px #FFF;
    color: brown
}

.cle{
    font-weight: bold;
    color: blue;
    border: solid 1px #ffffff;
    background-color: #d8d8d8;
}

.lesCibles{
    background-color: #b5b5b5;
    border: solid 1px #FFF;
}
.anCibles{
    background-color: #d8d8d8;
}

td, .infoArbre{
    text-align: center;
    border: 1px solid #d9cfcf;
    border-top: #d9cfcf;
}

th{
    text-align: center;
    background-color: rgb(0, 32, 102);
    color: white;
}

.evenPrc{
    background-color: #d8d8d8;
/*    text-align: center;*/
}

#cleMoins9{
    background-color: #ff000a
}

#cleConception {
    background-color: #FFFF00;
    color: red;
}

#triangleP {
    background-color: #FF8005;
}

#cleNaissance {
    background-color: #449d44;
}

#triangleR {
    background-color: #A2CE22;
}

#triangleC {
    background-color: #628173;
}

#clePlus9 {
    background-color: #8064a2;
}

#sommeInterne {
    background-color: #a5a5a5;
}

#valAbsolue {
    background-color: #bfbfbf;
}

.incarnation {
    background-color: #538cd5;
}

#essence {
    background-color: #b1a0c7;
}

#transformation {
    background-color: #16365c;
}

.titreArbre {
    padding: 0px 0px 50px 0px;
}

#complements {
    margin: 1px;
}

.clair{
    width: 90px;
    height: 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;

}

.tab{
    width: 75%;
    height: 400px;
    margin: 10px 10px 50px 0px;

}

.inter{
   padding: 1px;
    width: 40px;

}

.bout{
    width: 100px;
}






